.container-fluid
  .row
    .col-xs-12
      %h2 114th Congress
      %table.table.table-my-striped.table-hover.candidates
        %caption Show me the Money
        %thead
          %tr
            %th Last Name
            %th First Name
            %th Chamber
            %th Party
            %th State
            %th District
            %th Twitter Handle
        %tbody
          - @candidates.each_with_index do |candidate, index|
            %tr.main.accordion-toggle{data:{toggle: "collapse", target: "#candidate-donations-#{index}"}}
              %th{:scope => "row"}= candidate.last_name
              %td= candidate.first_name
              %td= candidate.chamber
              %td= candidate.party
              %td= candidate.state
              %td= candidate.district
              %td= candidate.twitter_handle.present? ? "@" + candidate.twitter_handle : ""
            %tr.hidden-row
              %td.hidden-row{colspan: "7"}
                .accordion-body.collapse{id: "candidate-donations-#{index}", data: {candidate_id: candidate.id} }
              

      %table.table.table-striped.table-hover.donations
        %thead
          %tr
            %th Amount
            %th Date
            %th Last Name
            %th First Name
            %th Employer
            %th Occupation
            %th State
            %th City
            %th FEC Donation ID
        %tbody
          
