/ Button trigger modal
%button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
  Launch demo modal
/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes

.container-fluid
  .row
    .col-xs-12
      %h2 114th Congress
      %table.table.table-hover.candidates{id: 'candidates-table'}
        %caption Show me the Money
        %thead
          %tr
            %th
            %th Last Name
            %th First Name
            %th Chamber
            %th Party
            %th State
            %th District
            %th Twitter Handle
        %tbody
          - @candidates.each_with_index do |candidate, index|
            %tr.main
              %td.expand-donations{data: {candidate_id: candidate.id}} +
              %th{:scope => "row"}= candidate.last_name
              %td= candidate.first_name
              %td= candidate.chamber
              %td= candidate.party
              %td= candidate.state
              %td= candidate.district
              %td= candidate.twitter_handle.present? ? "@" + candidate.twitter_handle : ""
            -# %tr.hidden-row
            -#   %td.hidden-row{colspan: "7"}
            -#     .accordion-body.collapse{id: "candidate-donations-#{index}", data: {candidate_id: candidate.id} }
              
      -# my template donation table which I clone in JS
      %table.table.table-striped.table-hover.donations.hidden
        %thead
          %tr
            %th Amount
            %th Date
            %th Last Name
            %th First Name
            %th Employer
            %th Occupation
            %th State
            %th City
            %th FEC Donation ID
            %th Tweet
        %tbody
          
