/ Modal
#donation-modal.modal.fade{"aria-labelledby" => "donation-modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#donation-modal-abel.modal-title Donations Are Better When Tweeted
      .modal-body
        -# TODO add donation info to modal body
        -# .donation-info-container
        -#   %p 
        -#     %span.title
        -#       Politician Name
        -#     %span.info{"data-fiel"}
        -#   %p
        -#     %span.title Twitter Handle
        -#   %p Donation Amount
        -#   %p Donor Name
        -#   %p Donation Date
        -#   %p Location
        -#   %p Donor Company
  
        - @tweet = Tweet.new
        = form_for @tweet do |f|
          .form-group
            = f.label "Tweet Text"

            -# TODO look into twitter display plugin/docs that to allow for url length calculation and nice formatting
            = f.text_area :text, {class: "form-control", maxlength: "140", rows: "2"}

            = hidden_field_tag 'tweet[donation_id]', 'placholder_id', {id: 'donation-id-input'}
            
            -# TODO troubleshoot for safari
            = f.submit 'Submit', {class: "hidden"}

          .checkbox
            %label
              %input{:type => "checkbox"}/
              Check me out
          -# %button.btn.btn-default{:type => "submit"} Submit

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary#donation-dummy-submit{:type => "button"} Tweet!

.container-fluid
  .row
    .col-xs-12
      - if current_user
        %p.signin
          = link_to('Sign Out', destroy_user_session_path, method: :delete)
      - else
        %p.signin
          = link_to('Login', new_user_session_path)
          

    .col-xs-12{style: "text-align: center;"}
      %img.congress-pic{src: 'assets/US_Capitol_from_NW.jpg'}
    .col-xs-12
      %h2 114th Congress
      %table.table.table-hover.candidates{id: 'candidates-table'}
        %caption Show me (and them) the Money
        %thead
          %tr
            %th
            %th Last Name
            %th First Name
            %th Chamber
            %th Party
            %th State
            %th District
            %th Total Donations
            %th Twitter Handle
        %tbody
          - @candidates.each_with_index do |candidate, index|
            %tr.main
              %td.expand-donations{data: {candidate_id: candidate.id}} +
              %th{:scope => "row"}= candidate.last_name
              %td= candidate.first_name
              %td= candidate.chamber
              %td= candidate.party
              %td= candidate.state
              %td= candidate.district
              %td= candidate.total_donations
              %td= candidate.twitter_handle.present? ? "@" + candidate.twitter_handle : ""

      -# my template donation table which I clone in JS
      %table.table.table-striped.table-hover.donations.hidden
        %thead
          %tr
            %th Amount
            %th Date
            %th Last Name
            %th First Name
            %th Employer
            %th Occupation
            %th State
            %th City
            %th FEC Donation ID
            %th Tweet
            %th Count
        %tbody
          
